@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css);
/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
::-moz-selection {
  color: #fff;
  background: #2a2b39;
}
::selection {
  color: #fff;
  background: #2a2b39;
}

::-moz-selection {
  color: #fff;
  background: #2a2b39;
}

p {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  color: #2a2b39;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #6acd79;
}

.teacher-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}

.bussinesscard {
  height: 320px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 43px -10px black;
  position: relative;
}

.bussinesscard .flip {
  transition: all 0.5s ease;
}

.bussinesscard .front {
  z-index: 11;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.45);
  transform: scale(1, 1);
  transition: all 0.6s ease;
}

.bussinesscard .front .top {
  height: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.bussinesscard .front .top:after {
  position: absolute;
  content: "";
  pointer-events: none;
}

.bussinesscard .front .top:after {
  left: 50%;
  width: 2em;
  height: 2em;
  transform: translateX(-50%) rotate(45deg);
  bottom: 9em;
  z-index: 10;
  background: inherit;
}

.bussinesscard .front .top .logo {
  display: inline-block;
  color: #fff;
  z-index: 11;
  padding: 0.16em;
  position: relative;
  pointer-events: none;
  transform: translateY(-10%);
  left: 30%;
  margin-top: 0.4em;
  font-size: 4em;
}

.bussinesscard .front .top .logo .fat img {
  width: 110% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.bussinesscard .front .top .logo .skinny {
  font-weight: 100;
}

.bussinesscard .front .nametroduction {
  margin-top: 2em;
  transform: translateY(0);
  z-index: 8;
}

.bussinesscard .front .name {
  color: #2a2b39;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  position: relative;
  margin-bottom: 0.35em;
}

.bussinesscard .front .name:after {
  content: "";
  position: absolute;
  top: 1.3em;
  width: 20%;
  left: 40%;
  right: 40%;
  height: 1px;
  background: #2a2b39;
}

.bussinesscard .front .introduction {
  text-align: center;
  color: #2a2b39;
  font-family: "Old Standard TT", serif;
  font-style: italic;
  font-size: 14px;
}

.bussinesscard .front .contact {
  color: #2a2b39;
  margin-left: 1.7em;
  font-weight: 300;
  font-size: 1em;
  transform: translateY(400%);
}

.bussinesscard .front .contact .website {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.bussinesscard .front .contact .website h5 {
  font-size: 20px !important;
}

.fullName {
  display: flex;
}

.bussinesscard .front .contact a {
  font-size: 16px;
  margin-top: -20px !important;
}

.bussinesscard .back {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}

.tooltip {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #fff;
  font-weight: 300;
  padding: 0.4em;
  background: #6acd79;
}

/* HOVER ANIMATIONS */
.front .top .logo, .front .top, .front .top:after, .front .nametroduction, .front .contact img {
  transition: all 0.7s ease-in-out;
}

.flip:hover .front .top .logo {
  margin-top: 0.18em;
  font-size: 1.3em;
  margin-left: 0.15em;
  transform: translateX(0px);
  left: 10px;
}

.flip:hover .front .top .logo img {
  width: 40% !important;
}

.flip:hover .front .top {
  height: 20%;
}

.flip:hover .front .top:after {
  width: 1.5em;
  height: 1.5em;
  bottom: 16.3em;
}

.flip:hover .front .nametroduction {
  transform: translateY(400%);
}

.flip:hover .front .contact {
  transform: translateY(-52%);
}

.btn-modal {
  background-color: blueviolet !important;
  padding: 10px !important;
  color: white !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.nametroduction h3 {
  font-size: 14px;
}

.btns {
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.btn-edit {
  background-color: #6acd79 !important;
  color: #fff !important;
}

.btn-delete {
  background-color: red !important;
  color: #fff !important;
}

.btn-student {
  background-color: cornflowerblue !important;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  padding: 15px 15px !important;
  color: #fff !important;
  transform: skew(370px);
}

.error {
  color: red;
  size: 80%;
}

.hidden {
  display: none;
}

.pagination {
  margin: 20px auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  background-color: transparent !important;
  border: none !important;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(101, 0, 94) 3%, rgb(60, 132, 206) 38%, rgb(48, 238, 226) 68%, rgb(255, 25, 25) 98%);
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wave {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  -webkit-animation: wave 10s -3s linear infinite;
          animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@-webkit-keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}
.social-media a {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}
.social-media a:hover {
  background: lightcoral;
  color: #fff;
  border: 2px solid lightcoral;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 32px;
}
.navbar-brand span {
  color: #fff;
  font-size: 14px;
}

.form-group {
  width: 100%;
  position: relative;
}
.form-group input {
  width: 130px;
  padding: 10px 20px 10px 10px;
}
.form-group button {
  position: absolute;
  width: 25%;
  right: 0;
  border: none;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4070f4;
}

.container-log {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}

.container-log .forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.container-log .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container-log.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container-log .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}

.container-log.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.container-log.active .forms {
  height: 600px;
}

.container-log .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #4070f4;
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #4070f4;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #4070f4;
}

.input-field i.icon {
  left: 0;
}

.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin-right: 10px;
  accent-color: #4070f4;
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: #4070f4;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #265df2;
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.bady {
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}

.scene {
  position: relative;
  z-index: 2;
  height: 220px;
  width: 220px;
  display: grid;
  place-items: center;
}

.cube-wrapper {
  transform-style: preserve-3d;
  -webkit-animation: bouncing 2s infinite;
          animation: bouncing 2s infinite;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateZ(45deg);
  -webkit-animation: rotation 2s infinite;
          animation: rotation 2s infinite;
}

.cube-faces {
  transform-style: preserve-3d;
  height: 80px;
  width: 80px;
  position: relative;
  transform-origin: 0 0;
  transform: translateX(0) translateY(0) translateZ(-40px);
}

.cube-face {
  position: absolute;
  inset: 0;
  background: rgb(53, 12, 12);
  border: solid 1px #ff8484;
}
.cube-face.shadow {
  transform: translateZ(-80px);
  -webkit-animation: bouncing-shadow 2s infinite;
          animation: bouncing-shadow 2s infinite;
}
.cube-face.top {
  transform: translateZ(80px);
}
.cube-face.front {
  transform-origin: 0 50%;
  transform: rotateY(-90deg);
}
.cube-face.back {
  transform-origin: 0 50%;
  transform: rotateY(-90deg) translateZ(-80px);
}
.cube-face.right {
  transform-origin: 50% 0;
  transform: rotateX(-90deg) translateY(-80px);
}
.cube-face.left {
  transform-origin: 50% 0;
  transform: rotateX(-90deg) translateY(-80px) translateZ(80px);
}

@-webkit-keyframes rotation {
  0% {
    transform: rotateX(45deg) rotateY(0) rotateZ(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
            animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  }
  50% {
    transform: rotateX(45deg) rotateY(0) rotateZ(225deg);
    -webkit-animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
            animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  }
  100% {
    transform: rotateX(45deg) rotateY(0) rotateZ(405deg);
    -webkit-animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
            animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  }
}

@keyframes rotation {
  0% {
    transform: rotateX(45deg) rotateY(0) rotateZ(45deg);
    -webkit-animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
            animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  }
  50% {
    transform: rotateX(45deg) rotateY(0) rotateZ(225deg);
    -webkit-animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
            animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  }
  100% {
    transform: rotateX(45deg) rotateY(0) rotateZ(405deg);
    -webkit-animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
            animation-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  }
}
@-webkit-keyframes bouncing {
  0% {
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
            animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  }
  45% {
    transform: translateY(40px);
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  100% {
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
            animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  }
}
@keyframes bouncing {
  0% {
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
            animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  }
  45% {
    transform: translateY(40px);
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  100% {
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
            animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  }
}
@-webkit-keyframes bouncing-shadow {
  0% {
    transform: translateZ(-80px) scale(1.3);
    -webkit-animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
            animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    opacity: 0.05;
  }
  45% {
    transform: translateZ(0);
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.3;
  }
  100% {
    transform: translateZ(-80px) scale(1.3);
    -webkit-animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
            animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    opacity: 0.05;
  }
}
@keyframes bouncing-shadow {
  0% {
    transform: translateZ(-80px) scale(1.3);
    -webkit-animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
            animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    opacity: 0.05;
  }
  45% {
    transform: translateZ(0);
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.3;
  }
  100% {
    transform: translateZ(-80px) scale(1.3);
    -webkit-animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
            animation-timing-function: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    opacity: 0.05;
  }
}